/**** .a11y-hidden CLASS FOR HIDING CONTENT OFF SCREEN FOR SCREEN READER USERS ****/

.a11y-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
}

/**** MISC STYLES ****/

.header {
    text-align: center;
    font-size: 30px;
}
.header > h1 {
    margin: 10px 0px 5px 0px;
}
.header > p {
    font-size: 25px;
    margin: 0 0 30px 0;
}

h1,h2,span,div,ul, button, p, h3, footer {
    font-family: 'Lora', serif;
}

main, a {
    width: 85%;
    margin: 0 auto;
    color: white;
}
body {
    background-color:#456c63;
}

.working-example {
    text-align: center;
    font-size: 25px;
    margin: 50px 0px;
}

footer {
    text-align: center;

    font-size: 12px;
    color: white;
    width: 85%;
    margin: 30px auto;
} 

pre {
    padding: 10px 15px;
    background-color: black;
    color: white;
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
}

pre > .highlight {
    color:black;
    background-color: white;
    font-family: Consolas,monospace;
}


button:focus, button:hover, input:focus, input:hover, a:focus, a:hover {
    outline: dotted 3px #FF00F0;
}

/**** TOOLTIP STYLES ****/

.test-content {
    display: inline-block;
}

#tooltip-btn {
    display: inline-block;
    position: relative;
    font-size: 20px;
    background-color: #456c63;
    color: white;
    border: none;
}   

#tooltip-btn:hover {
    color: #bdc3c7;
}

.tooltip-content {
    width: 200px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    padding: 0px 15px;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
}

/**** HIDDEN ****/

.hidden {
    display:none;
}


